In [4]:
import pandas as pd

db = pd.read_csv('OpenStreetMap_Shops_for_North_America.csv')

db.head()

C:\Users\paula\AppData\Local\Temp\ipykernel_3056\2442704415.py:3: DtypeWarning: Columns (4,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  db = pd.read_csv('OpenStreetMap_Shops_for_North_America.csv')

,X,Y,objectid,osm_id2,abandoned,addr_housename,addr_housenumber,addr_street,addr_city,addr_state,...,addr_country,addr_district,addr_subdistrict,addr_unit,amenity,brand,building,name,operator,shop
0,-159.670129,21.956084,85,6448753092,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jo Jo’s Clubhouse Shave Ice,NaN,confectionery
1,-159.668146,21.955308,95,6241439285,NaN,NaN,9652,Kaumualii Highway,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Shrimp Station,NaN,seafood
2,-159.667647,21.955426,98,4643342514,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Big Save Super Market,NaN,supermarket
3,-159.674490,21.957984,105,5857253155,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,laundry
4,-159.670366,21.956210,107,5541678538,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Red Dirt,NaN,clothes

In [18]:
c = 0
for i in list(db.addr_district.isna()):
    if i == False:
        c += 1
print(c)

#Hi ha 700.000 observacions
#Abandoned - només 5 valors són certs  - 5 botigues només estan abandonades
#addr_housename - 3463 valors tenen housename
#addr_housenumber - 230.000 valors tenen housenumber
#addr_street - 250.000 valors tenen street
# city 188112
# state 188112

2586

In [13]:
db.shape

(704177, 22)